@media screen and (max-width: 1250px) {
 .center {
  padding-left: calc(50vw - 360px);
  padding-right: calc(50vw - 360px);
 }
 body {
  font-size: 12px;
 }
 /*offer*/
 .offer {
  padding-top: 180px;
  padding-bottom: 110px;
 }
 .offer__title {
  max-width: 360px;
  font-size: 36px;
  margin-bottom: 40px;
 }
 .offer__desc {
  font-size: 20px;
  margin-bottom: 40px;
 }
 /*offer*/
 /*services*/
 .services {
  justify-content: center;
 }
 .services__title {
  font-size: 20px;
 }
 .services__icon {
  margin-bottom: 20px;
 }
 /*services*/
 /*about*/
 .about {
  flex-direction: column-reverse;
  align-items: center;
 }
 .about__title {
    text-align: center;
 }
 /*about*/
 /*discount*/
 .discount__form, 
 .footer__contacts {
    display: block;
   }
   .discount__form_input {
      margin-bottom: 30px;
   }
   .discount span  {
      margin-left: 30px;
   }
   /*discount*/
}

@media screen and (max-width: 760px) {
 .center {
  padding-left: calc(50vw - 200px);
  padding-right: calc(50vw - 200px);
 }
 .about__title {
    text-align: center;
 }
 .nav ul {
    display: block;
 } 
 .form {
  grid-template-columns: 1fr;
  grid-template-rows: unset;
 }
 .form__input.form__input--textarea,
 .form__checkbox,
 .form .button {
  grid-column: unset;
  grid-row: unset;
 }
 .form__input.form__input--textarea {
  height: 200px;
 }
/*discount*/
 .discount__form, 
 .footer__contacts {
    display: block;
 }
 .discount__form_input {
    margin-bottom: 30px;
 }
 .discount span  {
    margin-left: 30px;
 }
 /*discount*/
}
